@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #17e2fe;
  --primary-hover: #14c8e0;
  --primary-dark: #12b5cc;
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f2f0f4;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-geist-sans), "Tahoma", "Arial", sans-serif;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 1080px) {
  .header-1080 {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1080px) {
  .topbar-1080 {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 2160px) {
  .header-4k {
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 2160px) {
  .topbar-4k {
    max-width: 2600px;
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 80px;
    padding-right: 80px;
  }
}